@import url('https://fonts.googleapis.com/css?family=Francois+One|Lato:400,700');
$orange: #D75D00;
$black: #261C15;
$white: #f3f3f3;
body {
    align-items: center;
    color: $black;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    color: $black;
    font-family: 'Francois One', cursive;
    font-weight: 700;
    margin: 32px 0 0 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 4px 0;
}

#checkout {
    align-items: center;
    display: flex;
    width: 80%;
}

button.button-primary {
    background-color: #05A8AA;
    border: none;
    border-radius: 4px;
    border-right: 3px solid darken(#05A8AA, 15%);
    border-bottom: 3px solid darken(#05A8AA, 15%);
    color: $white;
    font-weight: 700;
    padding: 8px 16px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: fit-content;
    width: 80%;
    .two-third {
        flex: 2 2 65%;
        margin-right: 32px;
    }
    .one-third {
        flex: 1 1 20%;
        input {
            width: 100%;
        }
    }
}

.flex-wrap-container {
    p {
        width: 40%;
        padding: 8px 24px;
    }
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 16px;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin: 16px 0;
    min-height: fit-content;
    width: 80%;
    label {
        padding: 4px 8px;
    }
    input,
    select {
        background-color: lighten($orange, 35%);
        border: none; //border: 2px solid darken($orange, 5%);
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        height: 32px;
        padding: 8px;
        width: 66%;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: lighten($black, 35%);
        }
    }
    .card-number-inputs {
        display: flex;
        input {
            text-align: center;
            &:first-child {
                margin: 0 4px 0 0;
            }
            &:not(:first-child) {
                margin: 0 4px;
            }
            &:last-child {
                margin: 0 0 0 4px;
            }
        }
    }
    & .expiration {
        display: flex;
        select {
            flex: 1;
            &:first-child {
                margin-right: 8px;
            }
        }
    }
    &.price {
        .row {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            .price-heading {
                margin: 4px 8px;
                width: 25%;
                text-align: right;
            }
            .price-number {
                margin: 4px 8px;
                width: 25%;
                text-align: left;
            }
        }
    }
}

.payment-info {
    align-items: center;
    background: linear-gradient(90deg, lighten($orange, 12%), lighten($orange, 18%));
    border: 2px solid darken($orange, 5%);
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 10px 12px 16px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex: 3;
    flex-direction: column;
    height: 55%;
    left: -2px;
    min-height: fit-content;
    padding: 16px;
    position: relative;
    z-index: 1000;
}

.item-description {
    align-items: center;
    background: linear-gradient(90deg, $orange, lighten($orange, 12%));
    border: 2px solid darken($orange, 5%);
    border-radius: 12px;
    box-shadow: 10px 12px 16px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex: 5;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    min-height: fit-content;
    padding: 16px;
    z-index: 500;
    p {
        margin: 0;
        max-width: 65%;
        text-align: center;
    }
    img {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.2);
        margin: 32px;
        max-height: 50%;
        max-width: 70%;
    }
}

@media screen and (max-width: 696px) {
    #checkout {
        display: block;
        width: 100%;
    }
    .payment-info,
    .item-description {
        border-left: none;
        border-right: none;
        border-radius: 0;
        box-shadow: 0px 12px 12px 2px rgba(0, 0, 0, 0.2);
        height: auto;
        margin: 0 0 32px 0;
        position: initial;
    }
    .item-description p {
        max-width: 85%;
    }

    .flex-wrap-container {
        p {
            width: 85%;
        }
    }
}